---
import H1 from "../../components/h1.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import Link from "../../components/link.astro";
import Navigation from "../../components/navigation";
import { NAV_ITEMS } from "../../lib/nav";
import { getCollection } from "astro:content";

const items = await getCollection("works");
const title = "Works - Jan Paweł Przegendza";
const description = "Works by Jan Paweł Przegendza";
---

<RootLayout title={title} description={description}>
  <section class="px-4 sm:px-12 pb-24">
    <div class="min-h-screen pt-4 sm:pt-8">
      <H1>Works</H1>

      <div class="mt-6 sm:mt-12 flex flex-col gap-4">
        {items.map((i: any) => (
          <a
            href={`/works/${i.slug}`}
            class="w-fit text-base lg:text-xl text-neutral-200 hover:text-neutral-50"
          >
            {i.data.title}
          </a>
        ))}
      </div>
    </div>

    <footer class="fixed bottom-0 left-0 right-0 z-40 px-4 sm:px-12 py-0 md:py-4 bg-transparent md:bg-neutral-950">
      <div class="flex justify-end">
        <div class="hidden md:flex items-center gap-4 flex-wrap justify-end">
          {NAV_ITEMS.map((item) => (
            <Link href={item.href} variant="secondary">
              {item.label}
            </Link>
          ))}
        </div>

        <div class="md:hidden">
          <Navigation client:load items={NAV_ITEMS} />
        </div>
      </div>
    </footer>
  </section>
</RootLayout>
